<h2 id='page-title'> Contact us</h2>

<div class='form'>
<form id='paperwork'>
  <div class='form-group'>
    <div class='form-group col-xs-12 col-sm-3'>
      <label for='name' class='sr-only'>Name</label>
      <input type='text' placeholder='Enter Name' name='name' class='form-control' id='name' >
    </div>
  </div>
  <div class='form-group'>
    <div class='form-group col-xs-12 col-sm-3'>
      <label for='tel' class='sr-only'>E-mail</label>
      <input type='tel' placeholder='Phone number' name='phone' class='form-control' id='tel'>
    </div>
  </div>
  <div class='form-group'>
    <div class='form-group col-xs-12 col-sm-3'>
      <label for='email' class='sr-only'>E-mail</label>
      <input type='email' placeholder='Enter E-mail here' name='email' class='form-control' id='email'>
    </div>
  </div>
  <div class='form-group'>
    <div class='form-group col-xs-12'>
      <label for='message-box' class='sr-only'>Leave a message</label>
      <textarea style='resize:none' rows='5' placeholder='Leave a message' name='message' class='form-control' id=message-box></textarea>
      <p id='visible-comment'></p>
      <p id='char-Count'></p>
    </div>
  </div>
  <div class='form-group'>
    <div class='form-group col-xs-12'><!-- submit button -->
      <label for='contact-btn-submit' class='sr-only'>Submit</label>
      <button type='submit' class='btn btn-default' id='contact-btn-submit'>Submit</button>
    </div>
  </div>
</form>
</div>