<div class="panel panel-default">
<div class="panel-body">
  <p id='email-thx'>Thank you. We have received your message and will respond as soon as possible.</p>
  <img src='../assets/email-buddy.png' id='email-icon' >
</div><!-- / panel-body -->
</div><!-- / panel -->
