<table>
<tbody>
  <tr>
    <td><h2>Order Placed!</h2></td>
  </tr>
  <tr>
    <td><p>Thank you for ordering a <%= @appname %> bike!</p></td>
  </tr>
  <tr>
    <td><p><strong>-Your <%= @appname %> Team!</strong></p></td>
  </tr>
</tbody>
</table>