/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.raty
 */

    /* universal */


body {
    text-align: center;
    background-color: #F3F3F3;
    margin: 0rem;
    background-image: url(background2.jpg);
    background-size: cover;
}

h1 {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h2, p {
    font-family: 'Dosis', sans-serif;   
}

p {
    text-decoration: none;
    font-weight: bold;
}

    /* nav */

nav {
    padding: 1rem 0;
    background-color: #ffffff00;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

nav li {
    padding:  0.25rem;
    display: inline;
}

ul a {
    color: #101010;
}

.nav-item a {
    padding-left: 1rem;
}

.navbar-brand {
    display: flex;
    font-size: 1.75rem;
    text-decoration: overline;
}

.navbar-nav {
    padding: 1rem;
}

.bg-light {
    background-color: #ffffff00!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #F5FCFF;
}

.btn {
    font-size: inherit;
    padding: 0.15rem;
    color: #666;
    background-color: #e0e0e0bf;
    border: solid black 0.05rem;
    
}


/* footer */

footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 4em;
    background-color: #F5FCFF;
    padding: 1em;
    margin-top: 2rem;
}

footer span {
    color: #101010ad;
}

td {
    /* Careful, this breaks the word wherever it is without a hyphen */
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/* contact */

.form {
    margin: 3rem;
}

.form-group {
    padding-left: 0rem;
    display: contents;
}

.form-control {
    margin: 0.5rem;
}

label {
    font-family: 'Montserrat', sans-serif;
    padding-top: 2rem;
}

#email-thx {
    margin: 2rem;
}

#email-icon {
    width: 25%;
    height: auto;
}

/* about */

#page-title {
    margin: 3rem;
    color: #F5FCFF;
    text-decoration: overline;
}

#about {
    font-size: 1rem;
    line-height: 0.75rem;
    margin: 2rem;
}

/* landing page */

.carousel-indicators {
    position: relative;
    bottom: auto;
}

.carousel-caption {
    position: sticky;
    margin-top: 1rem;

}

.carousel-text {
    color:#000000;
    font-family: 'Montserrat', sans-serif;
}

.carousel-inner {
    overflow: visible;
}


#landing {
    background-color: #ffffff;
    border-radius: 1rem;
}

@media screen and (max-width: 425px) {
     .search_bar {
        display: none !important;
    }
}