// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


    // Products


.buttons {
    border-top: 1px solid black;
    padding-top: 1rem;
}

.action {
    display: inline;
}

.product-box {
    margin: 0.4rem;
    padding-top: 1rem;
    border: 1px solid #0000001a;
    background-color: #F5FCFF;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

.product-title span {
    font-size: 1.5rem;
    text-transform: capitalize;
}

    // Product show page

.show {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 2rem;
    padding-top: 4rem;
    margin-top: 1rem;
}

.show-desc {
    display: -webkit-box;
}

.comments {
    display: block;
    text-align: left;
    padding-top: 2rem;
    border-top: 1px solid #0000003d;
}

.show-product {
    display: -webkit-box;
    width: 100%
}

.show-desc {
    display: block;
    text-align: left;
    margin: auto;
    padding: 1rem;
}

.show-desc div {
    margin: 0.25rem;
}

.show-desc div p {
    padding-top: 2rem;
}

.product-image img {
    border: none;
}

.comments span {
    font-weight: bolder;
}

#comment_body {
    border: 1px solid #0000003d;
    width: 50%;
}

#review-submit {
    border: 1px solid #0000003d;
}

.product-buttons {
    margin: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #0000003d;
}

.product-reviews {
    padding:1rem;
}

.review-data {
    display: block;
}

// pagination

.pagination {
    padding: 1rem;
    justify-content: center;
}

.pagination li {
    padding-right: 0.25rem;
}